{% extends 'base.html' %}

{% block content %}
<div class="container">
    <table class="styled-table">
        <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Role</th>  <!-- New column for dropdown -->
                <!-- <th>Action</th>  --> <!-- New column for the Update button -->
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <!-- Dropdown for user role -->
                    <form method="POST" action="{{ url_for('main.update_role', user_id=user.id) }}" class="form-inline">
                        <div class="form-group">
                            <select name="role" class="form-control">
                                <option value="user" {% if user.role == 'user' %} selected {% endif %}>User</option>
                                <option value="admin" {% if user.role == 'admin' %} selected {% endif %}>Admin</option>
                            </select>
                        </div>
                </td>
                <td>
                    <!-- Update Role button -->
                    <button type="submit" class="btn btn-primary">Update Role</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
