{% extends "base.html" %}

{% block content %}

<div class="edit-navbar">
    <!-- Cancel Button -->

    <a href="{{ url_for('main.list_projects') }}" class="nav-link">Cancel</a>
</div>

<h1>Create Project</h1>

<form method="POST" action="{{ url_for('main.create_project') }}">
    {{ form.hidden_tag() }}
    
    <!-- Project Name Field -->
    <div class="form-group">
        {{ form.name.label }} 
        {{ form.name(class="form-control") }}
        {% if form.name.errors %}
            <small class="text-danger">{{ form.name.errors[0] }}</small>
        {% endif %}
    </div>

    <!-- Description Field -->
    <div class="form-group">
        {{ form.description.label }} 
        {{ form.description(class="form-control", placeholder="Enter project description") }}
        {% if form.description.errors %}
            <small class="text-danger">{{ form.description.errors[0] }}</small>
        {% endif %}
    </div>
    
    <!-- Start Date with Date Picker -->
    <div class="form-group">
        {{ form.start_date.label }} 
        <input type="date" name="start_date" class="form-control" value="{{ form.start_date.data }}">
        {% if form.start_date.errors %}
            <small class="text-danger">{{ form.start_date.errors[0] }}</small>
        {% endif %}
    </div>
    
    <!-- End Date with Date Picker -->
    <div class="form-group">
        {{ form.end_date.label }} 
        <input type="date" name="end_date" class="form-control" value="{{ form.end_date.data }}">
        {% if form.end_date.errors %}
            <small class="text-danger">{{ form.end_date.errors[0] }}</small>
        {% endif %}
    </div>

    <!-- Status dropdown Field -->
    <div class="form-group">
        {{ form.status.label }} 
        {{ form.status(class="form-control") }}
        {% if form.status.errors %}
            <small class="text-danger">{{ form.status.errors[0] }}</small>
        {% endif %}
    </div>

    <!-- Submit button -->
    <button type="submit" class="btn btn-primary">Create Project</button>
</form>


{% endblock %}
