{% extends 'base.html' %}

{% block content %}

<div class="edit-navbar">

    <!-- Cancel Button -->

    <a href="{{ url_for('main.list_tasks') }}" class="nav-link">Cancel</a>
</div>

  <!--  <h2>Create Task</h2> -->

    <form method="POST" action="{{ url_for('main.create_task') }}">
        {{ form.hidden_tag() }}

        <!-- Title Field -->
        <div class="form-group">
            {{ form.title.label }} 
            {{ form.title(class="form-control", placeholder="Enter task title") }}
            {% if form.title.errors %}
                <small class="text-danger">{{ form.title.errors[0] }}</small>
            {% endif %}
        </div>
        
        <!-- Description Field -->
        <div class="form-group">
            {{ form.description.label }} 
            {{ form.description(class="form-control", placeholder="Enter task description") }}
            {% if form.description.errors %}
                <small class="text-danger">{{ form.description.errors[0] }}</small>
            {% endif %}
        </div>

        <!-- Hours Allocated Field -->
        <div class="form-group">
            {{ form.hours_allocated.label }} 
            {{ form.hours_allocated(class="form-control", placeholder="Enter hours allocated") }}
            {% if form.hours_allocated.errors %}
                <small class="text-danger">{{ form.hours_allocated.errors[0] }}</small>
            {% endif %}
        </div>

        <!-- Assigned To LookUp Field -->
        <div class="form-group">
            {{ form.assigned_to.label }} 
            {{ form.assigned_to(class="form-control") }}
            {% if form.assigned_to.errors %}
                <small class="text-danger">{{ form.assigned_to.errors[0] }}</small>
            {% endif %}
        </div>
        
        <!-- Status dropdown Field -->
        <div class="form-group">
            {{ form.status.label }} 
            {{ form.status(class="form-control") }}
            {% if form.status.errors %}
                <small class="text-danger">{{ form.status.errors[0] }}</small>
            {% endif %}
        </div>

         <!-- Hours Remaining dropdown Field -->
        <div class="form-group">
            {{ form.hours_remaining.label }} 
            {{ form.hours_remaining(class="form-control", placeholder="Enter hours remaining") }}
            {% if form.hours_remaining.errors %}
                <small class="text-danger">{{ form.hours_remaining.errors[0] }}</small>
            {% endif %}
        </div>

        <!-- Project lookup dropdown Field -->
        <div class="form-group">
            <label for="project_filter">Project</label>
            {{ form.project_id(class="form-control", id="project_filter") }}
            {% if form.project_id.errors %}
                <small class="text-danger">{{ form.project_id.errors[0] }}</small>
            {% endif %}
        </div>
    
       
         <!-- Create Task button -->
        <button type="submit" class="btn btn-primary">Create Task</button>
    </form>

{% endblock %}