<!-- {% extends "base.html" %}

{% block content %}
<h1>Edit Sprint</h1>

<form method="POST" action="{{ url_for('main.edit_sprint', sprint_id=sprint.id) }}">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.name.label }}
        {{ form.name(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.start_date.label }}
        {{ form.start_date(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.end_date.label }}
        {{ form.end_date(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.project_id.label }}
        {{ form.project_id(class="form-control") }}
    </div>

    <button type="submit" class="btn btn-primary">Save Changes</button>
</form>

{% endblock %}
