{% extends "base.html" %}

{% block content %}

<div class="edit-navbar">
    <a href="{{ url_for('main.list_projects') }}" class="nav-link">Cancel</a>
</div>


   <!-- <h2>Edit Project</h2>-->
    
    <form method="POST" action="{{ url_for('main.edit_project', project_id=project.id) }}">
        {{ form.hidden_tag() }}
        
        <!-- Project Name Field -->
        <div class="form-group">
            {{ form.name.label }} 
            {{ form.name(class="form-control", value=project.name) }}
            {% if form.name.errors %}
                <small class="text-danger">{{ form.name.errors[0] }}</small>
            {% endif %}
        </div>
        
         <!-- Description Field -->
        <div class="form-group">
            {{ form.description.label }} 
            {{ form.description(class="form-control", placeholder="Enter project description") }}
            {% if form.description.errors %}
                <small class="text-danger">{{ form.description.errors[0] }}</small>
            {% endif %}
        </div>

        <!-- Start Date Field -->
        <div class="form-group">
            {{ form.start_date.label }} 
            {{ form.start_date(class="form-control", value=project.start_date.strftime('%Y-%m-%d')) }}
            {% if form.start_date.errors %}
                <small class="text-danger">{{ form.start_date.errors[0] }}</small>
            {% endif %}
        </div>
        
        <!-- End Date Field -->
        <div class="form-group">
            {{ form.end_date.label }} 
            {{ form.end_date(class="form-control", value=project.end_date.strftime('%Y-%m-%d')) }}
            {% if form.end_date.errors %}
                <small class="text-danger">{{ form.end_date.errors[0] }}</small>
            {% endif %}
        </div>
        
         <!-- Status Field -->
        <div class="form-group">
            {{ form.status.label }} 
            {{ form.status(class="form-control") }}
            {% if form.status.errors %}
                <small class="text-danger">{{ form.status.errors[0] }}</small>
            {% endif %}
        </div>


         <div class="form-buttons">

        <!-- Update Project Button -->
            <button type="submit" class="btn-primary">Update Project</button>
        </div>

    </form>

{% endblock %}

