{% extends "base.html" %}

{% block content %}

<div class="edit-navbar">
    <a href="{{ url_for('main.list_projects') }}" class="nav-link">Cancel</a>
</div>


    <h2>Edit Project</h2>
    
    <form method="POST" action="{{ url_for('main.edit_project', project_id=project.id) }}">
        {{ form.hidden_tag() }}
        
        <!-- Project Name Field -->
        <div class="form-group">
            {{ form.name.label }} 
            {{ form.name(class="form-control", value=project.name) }}
        </div>
        
        <!-- Start Date Field -->
        <div class="form-group">
            {{ form.start_date.label }} 
            {{ form.start_date(class="form-control", value=project.start_date.strftime('%Y-%m-%d')) }}
        </div>
        
        <!-- End Date Field -->
        <div class="form-group">
            {{ form.end_date.label }} 
            {{ form.end_date(class="form-control", value=project.end_date.strftime('%Y-%m-%d')) }}
        </div>
        
         <div class="form-buttons">

            <button type="submit" class="btn-primary">Update Project</button>
        </div>

            <!--<a href="{{ url_for('main.list_projects') }}" class="btn-secondary">Cancel</a> 
        </div> -->
    </form>

{% endblock %}

