{% extends 'base.html' %}

{% block content %}
<div class="form-container">
    <h2>Register</h2>
    <form method="POST" action="{{ url_for('main.register') }}">
        {{ form.hidden_tag() }}

         <!-- Username Field-->
        <div class="form-group">
            {{ form.username.label }}
            {{ form.username(class="form-control") }}
            {% for error in form.username.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>

         <!-- Email Field-->
        <div class="form-group">
            {{ form.email.label }}
            {{ form.email(class="form-control") }}
            {% for error in form.email.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>

         <!-- Password Field-->
        <div class="form-group">
            {{ form.password.label }}
            {{ form.password(class="form-control") }}
            {% for error in form.password.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>

         <!-- Confirm Password Field-->
        <div class="form-group">
            {{ form.confirm_password.label }}
            {{ form.confirm_password(class="form-control") }}
            {% for error in form.confirm_password.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>

         <!-- Role Field
         <div class="form-group">
            {{ form.role.label }}
            {{ form.role(class="form-control") }}
            {% for error in form.role.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>-->


         <!-- Submit Button -->
        <button type="submit" class="btn-primary">Register</button>
    </form>
</div>
{% endblock %}
